In [1]:
import pandas as pd

In [3]:
url = 'https://space-facts.com/mars/'

In [60]:
tables = pd.read_html(url)
type(tables)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [74]:
df2=tables[1]
df2
df2.columns = ['Attribute', 'Mars']
df2

              Attribute                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [61]:
df=tables[0]
df.columns = ['Attribute', 'Mars', 'Earth']
df = pd.DataFrame(df)
mars_facts = df.drop(columns=['Earth'])
mars_facts

            Attribute             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [119]:
df_mars = pd.concat([mars_facts, df2])
df_mars.reset_index([])
df_2=df_mars.set_index('Attribute')
df_2
mars_facts = df_2.drop([df_2.index[0], df_2.index[1] , df_2.index[2]])
mars_facts

C:\Users\clayf\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

KeyError: '[nan nan nan] not found in axis'

In [116]:
mars_facts.to_html('table.html')

In [117]:
!explorer table.html