In [1]:
import pandas as pd

In [2]:
url = 'https://space-facts.com/mars/'

In [3]:
tables = pd.read_html(url)
type(tables)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
df2=tables[1]
df2 = df2.drop(columns=['Earth'])
df2.columns = ['Attribute', 'Mars']
df2

            Attribute             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [10]:
df=tables[0]
df.columns = ['Attribute', 'Mars']
df = pd.DataFrame(df)
df
# mars_facts = df.drop(columns=['Earth'])
# mars_facts

              Attribute                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
df_mars = pd.concat([df, df2])
df_mars
df_mars.reset_index([])
df_2=df_mars.set_index('Attribute')
mars_fact = df_2.drop([df_2.index[0], df_2.index[1] , df_2.index[2]])
mars_fact

                                          Mars
Attribute
Moons:                     2 (Phobos & Deimos)
Orbit Distance:       227,943,824 km (1.38 AU)
Orbit Period:             687 days (1.9 years)
Surface Temperature:              -87 to -5 °C
First Record:                2nd millennium BC
Recorded By:              Egyptian astronomers
Diameter:                             6,779 km
Moons:                                       2
Distance from Sun:              227,943,824 km
Length of Year:                 687 Earth days
Temperature:                     -153 to 20 °C

In [126]:
mars_fact.to_html('table.html')

In [127]:
!explorer table.html